* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: auto;
}

body {
    /* font-family: 'Poppins',
        sans-serif; */
    font-family: 'Roboto',
        sans-serif;
}

.header-left {
    background-color: #015761;
    width: 50%;
}

header#header-section {
    width: 100%;
}

.header-right {
    width: 50%;
}

.header-contant {
    display: flex;
}

.header-right img {
    width: 100%;
}

.topbar h3 {
    color: white;
    font-size: 30px;
}

.topbar {
    /* display: flex; */
    width: 100%;
    padding: 20px;
}

.topbar h3 {
    flex-basis: 30%;
    font-size: 21px;
    color: #e3e307;
    margin-bottom: 10px;
}

.topbar-list {
    flex-basis: 50%;
}

.topbar-list ul li {
    display: inline-block;
    margin-right: 15px;
}

.topbar-list ul li a {
    text-decoration: none;
    color: white;
}

.topbar-detls {
    width: 40%;
    color: white;
    margin-left: 183px;
    margin-top: 100px;
}

.topbar-detls h3 {
    font-size: 19px;
    font-weight: 300;
    color: yellow;
}

.topbar-detls h2 {
    font-size: 50px;
    width: 35%;
}

.topbar-detls span {
    font-size: 13px;
    color: #cabdbd;
}

section.about-sec {
    width: 100%;
    text-align: center;
    /* margin: 85px 0px; */
    background: whitesmoke;
    padding: 80px 0px;
}

section.about-sec h1 {
    margin-bottom: 15px;
    font-size: 25px;
}

section.about-sec p {
    width: 34%;
    margin: auto;
    height: 100px;
    line-height: 22px;
    margin-bottom: 0px;
    color: #484343;
}

button#about-btn {
    background: yellow;
    color: green;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
}

section.Showreel {
    width: 100%;
    text-align: center;
}

section.Showreel img {
    width: 100%;
}

section.Showreel h3 {
    font-size: 40px;
    padding: 50px;
    color: #0e6d0e;
}


section.photos {
    width: 100%;
}

.top-imgs {
    width: 100%;
    display: flex;
}

.tl-img {
    flex-basis: 24%;
    margin-left: 44px;
}

.tm-img {
    flex-basis: 36%;
}

.tr-img {
    flex-basis: 30px;
}

section.photos h4 {
    text-align: center;
    font-size: 50px;
    color: #0e6d0e;
    padding: 50px;
}

.bottom-imgs {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.bl-img {
    flex-basis: 40%;
    margin-left: 46px;
}

.bm-img {
    flex-basis: 37%;
}


.footer-sec {
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.footer-img {
    flex-basis: 50%;
}

.footer-Contact {
    flex-basis: 50%;
    background-color: #015761;
    padding: 93px 180px;
    height: 711px;
}

.footer-Contact span {
    font-size: 60px;
    font-weight: 700;
    color: yellow;
}

.reprsentation h6 {
    font-size: 26px;
    color: white;
    margin: 20px 0px;
}

.reprsentation {
    color: white;
}

.manager h5 {
    font-size: 18px;
    margin: 10px 0px;
}

.commercial.agent h5 {
    font-size: 18px;
    margin: 15px 0px 7px 0px;
}

.sf-agent h5 {
    font-size: 18px;
    margin: 15px 0px 7px 0px;
}

.reprsentation-icon {
    margin-top: 28px;
}

.reprsentation-icon i {
    margin-right: 12px;
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all .5s;
}

.reprsentation-icon i:hover {
    background: red;
}

.manager p {
    line-height: 24px;
}

.commercial.agent p {
    line-height: 24px;
}

p {}

.sf-agent p {
    line-height: 24px;
}

.foot-copy {
    width: 100%;
    text-align: center;
}

.foot-copy p {
    font-size: 14px;
    margin: 25px 0px 72px 0px;
    color: #b5b5b5;
}

.foot-copy a {
    color: #b5b5b5;
}